{% unless current_collection == blank %}
  {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if featured.compare_at_price > featured.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if featured.available %}
  {% assign sold_out = false %}
{% endif %}

{% capture product_title %}{{ featured.title | escape }}{% endcapture %}

<div class="{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
  <a href="{{ featured.url | within: collection }}" class="grid-link">
    <span class="grid-link__image{% if section.settings.show_sold_out_circle %} grid-link__image-sold-out{% endif %} grid-link__image--product">
      {% if on_sale and section.settings.show_sale_circle %}
        <span class="badge badge--sale">
          <span class="badge__text{% if sale_text.size > 7 %} badge__text--small{% endif %}">{{ 'products.product.sale' | t }}</span>
        </span>
      {% endif %}
      {% if sold_out and section.settings.show_sold_out_circle %}
        <span class="badge badge--sold-out">
          <span class="badge__text{% if sold_out_text.size > 9 %} badge__text--small{% endif %}">{{ 'products.product.sold_out' | t }}</span>
        </span>
      {% endif %}
      <span class="grid-link__image-centered">
        <img src="{{ featured.featured_image.src | img_url: 'large' }}" alt="{{ featured.featured_image.alt | escape }}">
      </span>
    </span>
    <div class="grid-link__info">
      <p class="grid-link__title">{{ product_title }}</p>
      <p class="grid-link__meta">
        {% if sold_out %}
          Sold Out
        {% else %}
        {% capture price %}{{ featured.price | money }}{% endcapture %}
          {% if on_sale %}
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          <s class="grid-link__sale_price">{{ featured.compare_at_price | money }}</s>
          {% endif %}
          {% if featured.price_varies %}
            {{ 'products.general.from_html' | t: price: price }}
          {% else %}
            <span class="visually-hidden">
              {% if on_sale %}
                {{ 'products.product.sale_price' | t }}
              {% else %}
                {{ 'products.product.regular_price' | t }}
              {% endif %}
            </span>
            {{ price }}
          {% endif %}
        {% endif %}
      </p>
    </div>
  </a>
</div>
