{% paginate collection.products by 20 %}

<div id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template" data-sort-enabled="{{ section.settings.sort_enable }}" data-tags-enabled="{{ section.settings.tags_enable }}">
  
  <header class="section-header section-header--large text-center">
    <h1 class="section-header__title{% if collection.handle == 'all' %} visually-hidden{% endif %}">{{ collection.title }}</h1>
    {% if collection.description != blank %}
      <div class="section-header__description rte">
        {{ collection.description }}
      </div>
    {% endif %}
  </header>

  <div class="grid-uniform grid-link__container">
    {% for product in collection.products %}
      {% assign featured = product %}
      {% assign grid_item_width = 'wide--one-quarter large--one-half medium--one-half' %}
      <div class="grid__item {{ grid_item_width }}">
        {% include 'product-grid-item' %}
      </div>
    {% else %}
      <div class="grid__item">
        <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
      </div>
    {% endfor %}

  </div>

  {% if paginate.pages > 1 %}
    <hr class="hr--clear">
    <div class="text-center">
      {% include 'pagination-custom' %}
    </div>
  {% endif %}
</div>
{% endpaginate %}

{% schema %}
  {
    "name": "Collection pages",
    "settings": []
  }
{% endschema %}
