{% capture footer_menu_length %}{{ linklists['footer'].links | size }}{% endcapture %}
{% assign footer_menu_length = footer_menu_length | plus: 0 %}

<footer class="site-footer" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">
  
  <div class="wrapper">

    <div class="grid-uniform">

      <div class="grid__item post-large--one-third site-footer__links">
        {% include 'breadcrumb' %}
      </div>

      {% if footer_menu_length > 0 %}
      <div class="grid__item post-large--two-thirds site-footer__links">
        <ul class="site-footer__menu inline-list">
          {% for link in linklists['footer'].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="grid__item post-large--one-half push--post-large--one-half site-footer__taglines">
        {% for i in (1..5) %}
          {% capture tagline_var %}tagline_{{ i }}{% endcapture %}
          {% if section.settings[tagline_var] != blank %}
            <p>{{ section.settings[tagline_var] }}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>

</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Taglines",
        "info": "Taglines are randomly displayed"
      },
      {
        "type": "text",
        "id": "tagline_1",
        "label": "Tagline #1"
      },
      {
        "type": "text",
        "id": "tagline_2",
        "label": "Tagline #2"
      },
      {
        "type": "text",
        "id": "tagline_3",
        "label": "Tagline #3"
      },
      {
        "type": "text",
        "id": "tagline_4",
        "label": "Tagline #4"
      },
      {
        "type": "text",
        "id": "tagline_5",
        "label": "Tagline #5"
      }
    ]
  }
{% endschema %}
