{% if section.blocks.size > 0 %}
  <div class="hero-section__inner" data-section-id="{{ section.id }}" data-section-type="hero-section">
    <div class="hero__background">
      <div class="hero__background-slider" data-speed="{{ section.settings.slideshow_speed }}">
        <ul class="hero__background-slides">
        {% for i in (1..4) %}
          {% capture bg_img %}bg_image_{{ i }}{% endcapture %}
            {% if section.settings[bg_img] %}
            <style type="text/css">
              .hero__background-slide--{{ i }} {
                  background-image: url({{ section.settings[bg_img] | img_url: '800x' }});
              }
              @media (min-width: 768px){
                .hero__background-slide--{{ i }} {
                  background-image: url({{ section.settings[bg_img] | img_url: '1000x' }});
               }
              }
              @media (min-width: 1000px){
                .hero__background-slide--{{ i }} {
                  background-image: url({{ section.settings[bg_img] | img_url: '1200x' }});
               }
              }
            </style>
            <li class="hero__background-slide hero__background-slide--{{ i }}"></li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
  
    <div class="hero__content wrapper">
      <div class="grid">
        <div class="grid__item push--wide--one-sixth wide--two-thirds push--large--one-eighth large--three-quarters">
          
          {% if section.blocks.size > 0 %}
            <script type="application/json" id="hero-video-json">
              {
                {% for block in section.blocks %}
                  "{{ block.id }}": {
                    "video_type": "{{ block.settings.video_url.type }}",
                    "video_id":   "{{ block.settings.video_url.id }}"
                  }{% unless forloop.last %},{% endunless %}
                {% endfor %}
              }
            </script>
            <div class="hero__content-video">
              <div class="video-wrapper">
                {% comment %} Fill in with iframe here {% endcomment %}
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>

  </div>
{% endif %}

{% schema %}
  {
    "name": "Hero",
    "class": "hero-section",
    "settings": [
      {
        "type": "header",
        "content": "Background Slideshow",
        "info": "Select up to 4 images to fade in and out behind the blocks"
      },
      {
        "type": "select",
        "id": "slideshow_speed",
        "label": "Change slides every",
        "options": [
          {
            "value": "2000",
            "label": "2 seconds"
          },
          {
            "value": "3000",
            "label": "3 seconds"
          },
          {
            "value": "4000",
            "label": "4 seconds"
          },
          {
            "value": "5000",
            "label": "5 seconds"
          },
          {
            "value": "7000",
            "label": "7 seconds"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "bg_image_1",
        "label": "Image #1"
      },
      {
        "type": "image_picker",
        "id": "bg_image_2",
        "label": "Image #2"
      },
      {
        "type": "image_picker",
        "id": "bg_image_3",
        "label": "Image #3"
      },
      {
        "type": "image_picker",
        "id": "bg_image_4",
        "label": "Image #4"
      }
    ],
    "blocks": [
      {
        "type": "video",
        "name": "Video",
        "limit": 3,
        "settings": [
          {
            "type": "video_url",
            "id": "video_url",
            "label": "Vimeo link",
            "accept": ["vimeo"]
          }
        ]
      }
    ]
  }
{% endschema %}